/* src/components/ReviewSlider.css */

.review-slider {
    position: relative;
    width: 100vw; /* Full width of the viewport */
    max-width: 100%; /* Ensure it doesn't exceed viewport width */
    margin: 20px; /* Remove margin */
    padding: 30px 0; /* Add some vertical padding */
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-image: url('https://i.ibb.co/PTJDkgb/testimonials.jpg'); /* Background image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the background image */
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center; /* Center items vertically */
}

.review-card {
    min-width: 300px; /* Set a minimum width for the card */
    max-width: 80%; /* Ensure the card doesn't exceed 80% of the width */
    padding: 20px;
    justify-content: space-between;
    text-align: center;
    background: rgba(255, 255, 255, 0.2); /* More transparent background */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    margin: 40px;
}

.review-card:hover {
    transform: scale(1.02);
}

.review-image {
    width: 80px; /* Adjust image size */
    height: 80px; /* Adjust image size */
    border-radius: 50%; /* Circular image */
    object-fit: cover; /* Cover the area without distortion */
    border: 3px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.review-image:hover {
    border-color: #ff9800;
}

.rating {
    font-size: 20px;
    color: #ff9800;
    margin: 10px 0;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
}

.nav-button:hover {
    background: rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.slider-title {
    font-size: 2em;
    color: #f7f7f7;
    text-align: center;
    margin-bottom: 10px;
}

.slider-subtitle {
    font-size: 1.2em;
    color: rgba(245, 245, 245, 0.8);
    text-align: center;
    margin-bottom: 20px;
}
